{% extends '_layouts/default.njk' %} {% block body %}
<h1 style="margin-bottom: .5rem;">Oooops... 404. :(</h1>
<h3>Desculpe, não encontramos a página solicitada.</h3>
<a href="/" style="display: block;padding-top: 2rem; color: inherit"
  >Voltar à pagina principal</a
>
{% endblock %}
